<!--a dropzone-->
<!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
<section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event)" class="board">


    <impressions-note *ngFor="let n of getNoteValues()" [note]="n" (dragItemEvent)="dragItem($event)"></impressions-note>


</section>
<div class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
    <button type="button" class="btn btn-primary btn-lg" [routerLink]="'add'">
        <i class="bi bi-plus"></i>
        <span>Add</span>
    </button>
</div>