<!--a dropzone-->
<!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
<section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event)" class="board">


    <impressions-note *ngFor="let n of notes" [note]="n" (dragItemEvent)="dragItem($event)"
        [nowAddedIsOn]="n.id===addedNoteId"
    ></impressions-note>


</section>
<impressions-add (submitAddEvent)="submitAdd($event)"></impressions-add>
<div class="dropup position-absolute top-0 begin-0 rounded-circle m-5">
    <i 
        class="bi bi-trash3-fill recycle-bin"
        dndDropzone
        (dndDragover)="onDragoverRecycleBin($event)"
        (dndDrop)="onDropRecycleBin($event)"
        title="drop here to delete">
    </i>
</div>
<div class="dropup position-absolute bottom-0 begin-0 rounded-circle m-5">
    <button type="button" class="btn btn-secondary btn-lg" (click)="clearAll()">
        <i class="bi bi-x"></i>
        <span>Clear All</span>
    </button>
</div>
<section class="bimage"><img [src]="backgroundImage"/></section>