<!--a dropzone-->
<!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
<section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event)" class="board">


    <impressions-note *ngFor="let n of notes" [note]="n" (dragItemEvent)="dragItem($event)"></impressions-note>


</section>
<impressions-add (submitAddEvent)="submitAdd($event)"></impressions-add>
<i class="bi bi-trash3-fill recycle-bin position-absolute top-0 begin-0"
dndDropzone
(dndDragover)="onDragoverRecycleBin($event)"
(dndDrop)="onDropRecycleBin($event)"></i>