 <!--form -->
<form [formGroup]="noteDetailForm" (ngSubmit)="submitForm()">
  <div class="bg-dark text-light p-2 border-top border-bottom">

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div class="avatar avatar-64 bg-danger rounded-circle text" ></div>

        <h1>{{note.label}}</h1>
      </div>
      <a class="btn btn-primary" [routerLink]="['/board']" role="button">Back</a>
    </div>
  </div>
  <ul class="list-group list-group-light">
    <li *ngFor="let row of rows.controls; let i=index" class="list-group-item" formArrayName="rows">
      <div [formGroupName]="i" class="d-flex justify-content-between align-items-center">
        <div></div>
        <input 
          class="h2"  
          formControlName="row"
          (focusout)="onFocusOutRowEvent($event, i)"/>
      </div>
    </li>
  </ul>
  <ul class="list-group list-group-light mb-4">
    <li class="li-add list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div></div>
        <input 
          #newRowInput 
          class="h2" 
          id="newRow"
          name="newRow"
          class="form-control"
          formControlName="newRow"
          (focusout)="onFocusOutNewRowEvent($event)"
        />
      </div>
    </li>
  </ul>
</form>