 <!--form -->
<form [formGroup]="noteDetailForm" (ngSubmit)="submitForm()">
  <div class="bg-dark text-light p-2 border-top border-bottom">

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div class="avatar avatar-64 bg-danger rounded-circle text" ></div>
        <input  
          class="h1" 
          id="label"
          name="label"
          formControlName="label"
          (focusout)="onFocusOutLabelEvent($event)"
          (keyup.enter)="onFocusOutLabelEvent($event)"
        />
      </div>
      <a class="btn btn-primary" [routerLink]="['/board']" role="button">Back</a>
    </div>
  </div>
  <ul class="list-group list-group-light">
    <li *ngFor="let row of rows.controls; let i=index" class="list-group-item d-flex" 
    formArrayName="rows"
    [dndDraggable]="i"
    [dndEffectAllowed]="effectAllowed"
    [dndDisableIf]="disable"
    (dndStart)="onDragStart($event)"
    (dndCopied)="onDraggableCopied($event)"
    (dndLinked)="onDraggableLinked($event)"
    (dndMoved)="onDraggableMoved($event)"
    (dndCanceled)="onDragCanceled($event)"
    (dndEnd)="onDragEnd($event)"
    [dndDraggingClass]="'dragging'"
    dndDropzone (dndDragover)="onDragover($event, i)" (dndDrop)="onDrop($event, i)"
    >
      <div [formGroupName]="i" class="d-flex align-items-center flex-fill">
        <i class="bi bi-grip-vertical dragcursor"></i>
        <input 
          class="h2"  
          formControlName="row"
          (focusout)="onFocusOutRowEvent($event, i)"
          (keyup.enter)="onFocusOutRowEvent($event, i)"/>
      </div>
      <i class="bi bi-x-lg clickcursor" (click)="deleteRow(i)"></i>
    </li>
  </ul>
  <ul class="list-group list-group-light">
    <li class="li-add list-group-item d-flex">
      <div class="d-flex align-items-center flex-fill">
        <i class="bi bi-grip-vertical dragcursor icon-hide"></i>
        <input 
          #newRowInput 
          class="h2" 
          id="newRow"
          name="newRow"
          formControlName="newRow"
          (focusout)="onFocusOutNewRowEvent($event)"
          (keyup.enter)="onFocusOutNewRowEvent($event)"
        />
      </div>
      <i class="bi bi-x-lg clickcursor icon-hide"></i>
    </li>
  </ul>
</form>