<span class="note"
     [dndDraggable]="note.id"
     [dndEffectAllowed]="note.effectAllowed"
     [dndDisableIf]="note.disable"
     (dndStart)="onDragStart($event)"
     (dndCopied)="onDraggableCopied($event)"
     (dndLinked)="onDraggableLinked($event)"
     (dndMoved)="onDraggableMoved($event)"
     (dndCanceled)="onDragCanceled($event)"
     (dndEnd)="onDragEnd($event)"
     [style.left]="x"
     [style.top]="y"
>
    <div class="avatar avatar-128 bg-danger rounded-circle text"></div>
   <div class="avatar-label-triangle-wrapper">
       <div class="avatar-label-triangle"></div>
   </div> 
    <div class="avatar-label">Impression ({{note.id}})</div>
</span>