<div *ngIf="!inProgress" class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
    <button type="button" class="btn btn-primary btn-lg" (click)="beginAdd()">
        <i class="bi bi-plus"></i>
        <span>Add</span>
    </button>
</div>


<span
    *ngIf="inProgress"
     class="note position-absolute bottom-0 end-0"
>
    <div class="avatar avatar-64 bg-danger rounded-circle text"></div>
        <div class="avatar-label-triangle-wrapper">
            <div class="avatar-label-triangle"></div>
        </div> 
    <div class="avatar-label">
        <!--form -->
        <form [formGroup]="addForm" (ngSubmit)="submitForm()">
            <input
                type="text"
                id="notelabel"
                name="notelabel"
                class="form-control"
                minlength="1"
                formControlName="notelabel"
                #notelabelInput
                (focusout)="onFocusOutEvent($event)"
            />
            
            <div
                *ngIf="notelabel?.invalid && (notelabel?.dirty || notelabel?.touched)"
                class="text-danger"
            >
                <div *ngIf="notelabel?.errors?.['minlength']">
                Label must be at least 1 characters long.
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</span>
