<div *ngIf="!inProgress" class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
    <button type="button" class="btn btn-primary btn-lg" (click)="beginAdd()">
        <i class="bi bi-plus"></i>
        <span>Add</span>
    </button>
</div>


<span
    *ngIf="inProgress"
     class="note position-absolute bottom-0 end-0"
>
    <div class="avatar avatar-64 rounded-circle text"></div>
        <div class="avatar-label-triangle-wrapper">
            <div class="avatar-label-triangle"></div>
        </div> 
    <div class="avatar-label">
        <!--form -->
        <form [formGroup]="addForm" (ngSubmit)="submitForm()">
            <input
                type="text"
                id="notelabel"
                name="notelabel"
                minlength="1"
                formControlName="notelabel"
                #notelabelInput
                (focusout)="onFocusOutEvent($event)"
                (keyup.enter)="onFocusOutEvent($event)"
            />
        </form>
    </div>
</span>
